<html lang="">
<head>
    <meta charset="UTF-8">
    <title>detail</title>
</head>
<body>
<h1>{{question.question_text}}</h1>

{% if error_message %}
<p><strong>{{error_message}}</strong></p>
{% endif %}

<form action="{% url 'polls:vote' question.id %}" method="post">
    {% csrf_token %}
    {% if question.choice_set.all %}
    {% for choice in question.choice_set.all %}
    <input type="radio" name="choice" id="{{forloop.counter}}" value="{{choice.id}}">
    <label for="{{forloop.counter}}">{{choice.choice_text}}</label>
    <br/>
    {% endfor %}
    {% else %}
    <p>no choice</p>
    {% endif %}

    <input type="submit" value="Vote">
</form>
</body>
</html>